$bg: #1e1f24;
$primary: #5074f9;
$secondary: #b8c9e5;
$outline: #363740;
$elText: #6c7080;
$elBg: #27282e;
$highlight: #2e82ff69;

/* #region Sora */
@font-face {
  font-family: 'Sora';
  font-weight: 100 900; /* Define the range of weights */
  font-stretch: 75% 125%; /* Define the range of widths */
  src: url(../assets/fonts/Sora/Sora-VariableFont_wght.ttf) format('truetype');
}

/* #endregion */

/* #region Bitter */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Bitter/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLjOXQ.woff2) format('woff2');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/Bitter/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8SjYOLjOXQ.woff2) format('woff2');
}

/* #endregion */

/* #region Space Grotesk */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/SpaceGrotesk/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj7aUXskPMA.woff2) format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/SpaceGrotesk/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj42VnskPMA.woff2) format('woff2');
}

/* #endregion */