@use "config" as *;
@use "reader";
@use "home";
@use "loading";

@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

:root {
  color-scheme: dark;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  scroll-behavior: auto !important;
  background: $bg;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input {
  font-weight: 600;
  border: none;
  outline: none;
}

button {
  outline: none;
  border: none;
}
