<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/node_modules/pdfjs-dist/build/pdf.js"></script>
  <script src="/node_modules/pdfjs-dist/web/pdf_viewer.js"></script>
  <script defer src="/js/homeUi.js"></script>
  <title>PDFWIZ</title>
</head>

<body>
  <div class="homeContainer">
    <div class="secondContainer">
      <div class="logoContainer">
        <svg class="logoSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 633 116.16">
          <path class="logo"
            d="M0,21.23H15.43v2.63q0,4.09-.14,9.76C15.21,37.4,15,41.51,14.57,46S13.65,55,13,59.73a131.57,131.57,0,0,1-2.71,14,95.42,95.42,0,0,1-4.22,13A46.07,46.07,0,0,1,0,97.44l14.9,18.72A82.1,82.1,0,0,0,26,96.12a124.73,124.73,0,0,0,4.09-11.8q2-6.66,3.56-14.9c.68-3.53,1.27-7.31,1.78-11.27H77.13v7.38h21.1V.13H0Zm77.13,0V37.05H37.07c.07-2.32.11-4.68.11-7.12l-.13-8.7Z" />
          <path class="logo"
            d="M111.41,21.23H127.1v94.53h21V21.23h50V73.7a86,86,0,0,0-18.85,6.53,126.9,126.9,0,0,0-14.37,8.11,85.5,85.5,0,0,0-12.53,9.76l12.79,17.66a94.71,94.71,0,0,1,18.07-13.91,115.68,115.68,0,0,1,35.2-13.91l-.26-.13h1V.26H111.41Z" />
          <path class="logo"
            d="M232.31,21.23h15.43v3.95q0,6.33-.46,15.89a180.38,180.38,0,0,1-2.11,19.84,142.4,142.4,0,0,1-4.68,20,52.53,52.53,0,0,1-8.18,16.41L247.21,116a79.63,79.63,0,0,0,11.08-19.91q2.1-5.15,4.09-11.8t3.56-14.84c.69-3.58,1.29-7.42,1.81-11.47h53V36.92H269.4c.06-2.16.1-4.34.1-6.59l-.14-9.1h61.18V.13H232.31Z" />
          <path class="logo"
            d="M459.88,60.12a193.31,193.31,0,0,1,5-20.37,136,136,0,0,1,8.31-20.9L458.3.13a144.81,144.81,0,0,0-11.07,25.05q-2.12,6.08-4.16,13.52t-3.69,16.21q-1.65,8.78-2.7,18.79t-1.19,21.23H419V44.17H397.52V94.93H381.43q-.14-11.21-1.18-21.23t-2.71-18.79q-1.65-8.76-3.69-16.28T369.7,25.05A159,159,0,0,0,358.62,0l-14.9,18.59a135.07,135.07,0,0,1,8.31,21A197.52,197.52,0,0,1,357,60a182.75,182.75,0,0,1,2.57,18.86c.49,6,.73,11.34.73,16.08H345.83v21H470.69v-21h-14.1c0-4.74.24-10.09.72-16A183.75,183.75,0,0,1,459.88,60.12Z" />
          <path class="logo"
            d="M490.08,21.1h10.15v2.37q0,4-.2,9.69c-.13,3.82-.37,8-.72,12.39s-.88,9.06-1.59,13.85S496.1,68.89,495,73.51a95.86,95.86,0,0,1-4.22,13,45.46,45.46,0,0,1-6.07,10.74L499.57,116a79.94,79.94,0,0,0,11.08-19.91q2.1-5.15,4.08-11.8t3.56-14.9q1.59-8.23,2.57-18a211,211,0,0,0,1-21.23l-.13-9.09h9.63V0H490.08Z" />
          <path class="logo"
            d="M544.53,0V21h46.81a156.49,156.49,0,0,0-12.6,11.15,145.64,145.64,0,0,0-12.46,14A158.85,158.85,0,0,0,554.75,63a133.53,133.53,0,0,0-9.69,20l22.41,8.57a89.62,89.62,0,0,1,11.6-24.92q3.57-5.26,8.44-11.14A115.32,115.32,0,0,1,599,43.64,146.87,146.87,0,0,1,633,21V0Z" />
          <rect class="logo" x="611.51" y="70.41" width="21.49" height="19.91" />
          <rect class="logo" x="544.53" y="94.8" width="88.47" height="20.96" />
        </svg>
        <h1 class="logoText">the best online pdf reader in the world</h1>
      </div>
      <div class="uploadContainer">
        <button class="uploadBtn">
          <svg width="28" height="30" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.1868 1.27276C12.6359 0.823662 13.3641 0.823662 13.8132 1.27276L18.8132 6.27276C19.2623 6.72187 19.2623 7.45001 18.8132 7.89911C18.3641 8.34821 17.6359 8.34821 17.1868 7.89911L14.15 4.86228V16.0859C14.15 16.7211 13.6351 17.2359 13 17.2359C12.3649 17.2359 11.85 16.7211 11.85 16.0859V4.86228L8.81317 7.89911C8.36407 8.34821 7.63593 8.34821 7.18683 7.89911M12.1868 1.27276L7.18683 7.89911M12.1868 1.27276L7.18683 6.27276C6.73772 6.72187 6.73772 7.45001 7.18683 7.89911M12.1868 1.27276L7.18683 7.89911"
              fill="#5074F9" stroke="#5074F9" stroke-width="0.3" />
            <path
              d="M4.65622 9.23137C3.12768 9.83959 2.13828 10.7866 1.54097 12.1975C0.951011 13.5911 0.75 15.4228 0.75 17.7917C0.75 21.619 1.27305 24.0597 3.14117 25.5066C4.0684 26.2248 5.30426 26.6793 6.91362 26.9563C8.52305 27.2334 10.5252 27.3359 13 27.3359C15.4748 27.3359 17.4769 27.2334 19.0864 26.9563C20.6957 26.6793 21.9316 26.2248 22.8588 25.5066C24.7269 24.0597 25.25 21.619 25.25 17.7917C25.25 15.4228 25.049 13.5911 24.459 12.1976C23.8617 10.7866 22.8723 9.83959 21.3438 9.23137C20.5331 8.90879 19.75 9.56737 19.75 10.3819C19.75 10.9512 20.1267 11.4185 20.612 11.6354C20.9094 11.7683 21.1421 11.9093 21.328 12.0533C22.1625 12.6996 22.75 13.9683 22.75 17.7917C22.75 21.6151 22.1625 22.8838 21.328 23.5301C20.8494 23.9008 20.0602 24.252 18.6623 24.4926C17.265 24.7331 15.4317 24.8359 13 24.8359C10.5683 24.8359 8.73504 24.7331 7.33771 24.4926C5.93977 24.252 5.15064 23.9008 4.672 23.5301C3.83754 22.8838 3.25 21.6151 3.25 17.7917C3.25 13.9683 3.83754 12.6996 4.672 12.0533C4.85785 11.9093 5.0906 11.7683 5.38801 11.6354C5.87332 11.4185 6.25 10.9512 6.25 10.3819C6.25 9.56737 5.46691 8.90879 4.65622 9.23137Z"
              fill="#b8c9e5" stroke="#b8c9e5" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          select file
        </button>
        <input class="uploadInput" type="file" accept="application/pdf">
      </div>
    </div>
  </div>
</body>

</html>